<mat-drawer-container>
  <div class="al">
    <mat-nav-list *ngFor="let subNav of nav">
      <div class="container">
        <p class="nav-heading">
          {{subNav.title}}
        </p>
        <div *ngFor="let item of subNav.items">
          <mat-list-item [routerLink]="item.routerLink" routerLinkActive="activeTab">
            <a class="nav-item" [routerLink]="item.routerLink" routerLinkActive="activeTab"><b>{{item.title}}</b></a>
          </mat-list-item>
        </div>
      </div>
    </mat-nav-list>
  </div>

</mat-drawer-container>
