<mat-spinner class="custom_spinner" mode="indeterminate" *ngIf="isProcessing"></mat-spinner>
<h5><a [routerLink]="['/drive']">Genres</a>/{{folderName}}</h5>
<div class="content row">
  <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2" *ngFor="let file of files">
    <mat-card (click)="openFolder(folder)" class="music" matTooltip="{{file.name}}" (click)="openFile(file.url)">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>{{(file?.name?.length > 15) ? (file.name | slice:0:15) +'..':file.name }}</mat-card-content>
    </mat-card>
  </div>
  <div class="file col-sm-2 col-xs-2 col-md-2 col-lg-2">
    <mat-card (click)="uploadFile()" class="music">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>New File</mat-card-content>
    </mat-card>

  </div>
</div>
